.progress-bar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 2.5rem;
  flex-wrap: nowrap;
  overflow-x: scroll;
  scrollbar-width: thin;
  -ms-overflow-style: none;
  max-width: 500px;
}

.progress-bar-container::-webkit-scrollbar {
  display: none;
}

.step-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 auto;
  min-width: 80px;
}

.step-item.current {
  color: var(--primary-color);
}

.step-item.active {
  color: var(--text-color);
}

.step-item.inactive {
  color: var(--secondary-color);
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: var(--icon-background);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.icon-container.current {
  background-color: var(--primary-color);
  color: var(--card-background);
}

.icon-container.active {
  background-color: var(--primary-color);
  color: var(--card-background);
}

.icon-container.inactive {
  background-color: var(--card-background);
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

.step-label {
  font-size: 0.75rem;
  text-align: center;
  color: var(--text-color);
}

.connector-line {
  flex: 1;
  height: 1px;
  background-color: var(--secondary-color);
  margin-bottom: 1.5rem;
}

.connector-line.connector-active {
  background-color: var(--primary-color);
}

.connector-line.connector-inactive {
  background-color: var(--secondary-color);
}

@media (max-width: 1200px) {
  .progress-bar-container {
    max-width: 90%;
  }
}

@media (max-width: 992px) {
  .progress-bar-container {
    max-width: 80%;
  }
}

@media (max-width: 768px) {
  .progress-bar-container {
    margin-bottom: 1.5rem;
    max-width: 75%;
  }

  .step-label {
    font-size: 0.65rem;
  }
}

@media (max-width: 576px) {
  .progress-bar-container {
    max-width: 75%;
  }

  .step-item {
    min-width: 70px;
  }

  .step-label {
    font-size: 0.6rem;
  }
}

@media (max-width: 320px) {
  .progress-bar-container {
    margin-bottom: 1rem;
    max-width: 75%;
  }

  .step-item {
    min-width: 60px;
  }

  .step-label {
    font-size: 0.55rem;
  }
}